/* styles.css */
ul{
    color: rgb(228, 13, 13);
    font-size: 30px;
  }
ol{
 color:rgb(0, 0, 0);
 font-size: 30px;
 font-style: normal;
}  


li{
 background-color: rgb(143, 1, 190);
 background: radius gray|( 160,2,120);
}
